<section class="assets">
  <div class="container assets__title-wrapper">
    <h2 class="assets__title">
      Game Assets
    </h2>
  </div>
  <div class="container">
    {{#each @root.data.assets}}
      <article class="assets__item">
        <div class="video-wrapper">
          <iframe
            width="560"
            height="315"
            src="{{this.video}}"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="assets__item-desc">
          <p>{{this.description}}</p>
          {{#if this.urls}}
            {{#if this.urls.ue}}
              <a
                class="link"
                href="{{this.urls.ue}}"
                rel="external"
              >
                UE Marketplace
              </a>
            {{/if}}
            {{#if this.urls.artstation}}
              <a
                      class="link"
                      href="{{this.urls.artstation}}"
                      rel="external"
              >
                ArtStation
              </a>
            {{/if}}
            {{#if this.urls.cgtrader}}
              <a
                class="link"
                href="{{this.urls.cgtrader}}"
                rel="external"
              >
                CG Trader
              </a>
            {{/if}}
          {{/if}}
        </div>
      </article>
    {{/each}}
  </div>
</section>
